@font-face {
  font-family: "Quicksand";
  src: url(./QuicksandFonts/static/Quicksand-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Quicksand";
  src: url(./QuicksandFonts/static/Quicksand-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Quicksand";
  src: url(./QuicksandFonts/static/Quicksand-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Quicksand";
  src: url(./QuicksandFonts/static/Quicksand-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Quicksand";
  src: url(./QuicksandFonts/static/Quicksand-SemiBold.ttf);
  font-weight: 600;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: "Quicksand";
  font-weight: 500;
}

.main-content {
  position: absolute;
}
.main-content:focus {
  display: block;
  border: 2px solid red;
  width: 200px;
  position: relative;
}

.backgroundcolor {
  height: 58px;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: -10;
  background: url(./headerpatternimage.png) repeat;
  background-color: #25313f;
  background-blend-mode: overlay;
}

header {
  position: fixed;
  border-bottom: 2px solid #31b9e4;
  justify-content: space-between;
  display: flex;
  align-items: center;
  z-index: 10;
  width: 100%;
  height: 58px;
  padding: 0 24px;
}

img {
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
}
ul li {
  list-style: none;
  color: #3fd28b;
  font-size: 14px;
  line-height: 14.4px;
  text-transform: uppercase;
}

.menu-bar ul li {
  position: relative;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1040px) {
  .menu-bar #dashboard,
#content,
#users,
#reports,
#admin {
    display: none;
  }
  .menu-bar .hamburger {
    display: block;
  }
}
#dashboard {
  color: #fff;
}

.underline {
  position: absolute;
  top: 33px;
  left: -4px;
  width: 93px;
  height: 4px;
  background-color: #fff;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 12px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #0e6df1;
}

.white {
  background-color: #fff;
  color: #000;
  font-size: 9px;
  right: -4px;
  top: -4px;
}

.profile {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #25313f;
  display: block;
  border: 2px solid #3fd28b;
}
.profile img {
  height: 100%;
}

.container {
  padding: 80px 24px 24px 24px;
}

.course {
  height: 64px;
  width: 100%;
  background-color: #8ddc97;
  border-radius: 2px;
  display: flex;
}

.courseCount,
.classCount {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.courseCount {
  border-bottom: 4px solid #222;
}

.count {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.count-text {
  font-size: 16px;
  line-height: 20px;
}

.subject,
.grade,
.students,
.sort {
  color: #666;
  font-size: 12px;
  line-height: 16px;
}

.sort {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sort-by {
  display: flex;
  align-items: center;
  gap: 6px;
}

.courses {
  display: grid;
  justify-content: center;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fit, 476px);
  margin: 17px 0 8px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding-top: 16px;
}

.card {
  background-color: #fff;
  border-radius: 2px;
  padding: 24px 24px 10px 24px;
  display: flex;
  gap: 16px;
  position: relative;
  flex-direction: column;
}

.card-header {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

img {
  cursor: pointer;
}

#course-name {
  font-family: "Quicksand";
  font-size: 16px;
  line-height: 20px;
  width: 160px;
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #eee;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(./icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.course-info {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.course-info h2 {
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin-bottom: 7px;
  width: 250px;
  word-wrap: break-word;
}

.title img {
  position: absolute;
  top: 22px;
  right: 24px;
}

.line {
  margin: 0 9px;
}

.green-text {
  font-size: 12px;
  line-height: 16px;
  color: #1f7a54;
}

.grade-info {
  margin-bottom: 7px;
}

.syllabus {
  color: #666;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 16px;
}

.bold-text {
  font-weight: 700;
  color: #000;
  font-size: 12px;
  line-height: 16px;
}

.teacher select {
  font-family: "Quicksand";
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 8px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(./icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-color: transparent;
}

.options {
  display: flex;
  gap: 102px;
  padding: 10px 24px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.expired {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px;
  font-size: 10px;
  line-height: 16px;
  color: #d80000;
  border-radius: 2px;
  background-color: #fff;
}

.disabled {
  opacity: 40%;
}

.disabled-star {
  filter: brightness(0) invert(98%) sepia(58%) saturate(79%) hue-rotate(91deg) brightness(108%) contrast(87%);
}

.about {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 18px;
  color: #1f7a54;
  gap: 8px;
  margin-bottom: 16px;
}
.about a {
  color: #1f7a54;
  text-decoration: none;
  font-weight: 600;
}

footer {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: #e0e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-text {
  font-size: 12px;
  line-height: 16px;
  color: #616161;
}

.zeus {
  font-size: 12px;
  font-weight: 700;
  margin: 0 8px;
}

/* hamburger-menu start */
/* */
.mobile-menu {
  height: 0;
  width: 280px;
  display: inline-block;
  position: absolute;
  opacity: 0;
  top: 43px;
  right: 0px;
  background-color: #fff;
  padding-left: 16px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: 1s opacity, 250ms height;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mobile-menu .mobile-item {
  width: 100%;
  margin: 15px 0px 15px 0px;
}

.mobile-item .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger ul {
  display: flex;
  justify-content: start;
  gap: 0px;
}
.hamburger ul p {
  color: #1F7A54;
  font-weight: 600;
}

/* hamburger*/
/* notification start*/
.notification-box {
  display: inline-block;
  height: 0;
  position: absolute;
  width: 315px;
  height: 0px;
  opacity: 0;
  right: 0;
  top: 43px;
  background-color: #fff;
  transition: 1s opacity, 1s height;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 14px;
  color: #222222;
  font-weight: 700;
  text-transform: none;
}

.notify-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid rgba(34, 34, 34, 0.1215686275);
}

.notify-item:nth-child(6) {
  position: relative;
  z-index: 1;
  height: 114px;
}

.notify-item:nth-child(6)::after {
  content: "SHOW ALL";
  position: absolute;
  top: 70px;
  left: 0px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2392156863);
  border-radius: 0px 0px 2px 2px;
  opacity: 1;
  width: 315px;
  height: 48px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.notify-item.yellow1 {
  background-color: #FFFFEE;
  height: 91px;
}

.notify-item.white1 {
  background-color: #fff;
  height: 114px;
}

.notify-item .contents p {
  width: 260px;
}

.notify-item .contents {
  width: 100%;
  display: flex;
  margin-top: 16px;
}

.notify-item .right {
  width: 100%;
  text-align: right;
  color: #6E6E6E;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.notify-item:nth-child(2) .right {
  margin-top: 8px;
}

.notify-item:nth-child(1) .right {
  margin-top: 8px;
}

.notify-item:nth-child(3) .right {
  margin-top: 28px;
}

.notify-item:nth-child(4) .right {
  margin-top: 8px;
}

.notify-item:nth-child(5) .right {
  margin-top: 18px;
}

.notify-item .contents {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notify-item .contents .minus {
  width: 20px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #1F7A54;
  text-align: center;
  color: #1F7A54;
  font-size: 20px;
}

.notify-item .course-details {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.notify-item .course-details .course1 {
  color: #6E6E6E;
  margin-right: 5px;
}

.notify-item .course-details .course-d {
  color: #222222;
  font-size: 12px;
  font-weight: 700;
}

/* notification end*//*# sourceMappingURL=dashboard.css.map */