@font-face {
	font-family: 'Quicksand';
	src: url(./QuicksandFonts/static/Quicksand-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: 'Quicksand';
	src: url(./QuicksandFonts/static/Quicksand-Medium.ttf);
	font-weight: 500;
}

@font-face {
	font-family: 'Quicksand';
	src: url(./QuicksandFonts/static/Quicksand-Bold.ttf);
	font-weight: 700;
}
@font-face {
	font-family: 'Quicksand';
	src: url(./QuicksandFonts/static/Quicksand-Light.ttf);
	font-weight: 300;
}
@font-face {
	font-family: 'Quicksand';
	src: url(./QuicksandFonts/static/Quicksand-SemiBold.ttf);
	font-weight: 600;

}
$color: #eee;
$white : #fff;
$bg-color: #eeeeee;
$nav-bg-color: #25313f;



* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-color: $color;
	font-family: 'Quicksand';
	font-weight: 500;
}
.main-content {
	position: absolute;
    &:focus {
        display: block;
        border: 2px solid red;
        width: 200px;
        position: relative;
    }
}

header {
	position: fixed;
	border-bottom: 2px solid #31b9e4;
	justify-content: space-between;
	display: flex;
	align-items: center;
	z-index: 10;
	width: 100%;
	height: 58px;
	padding: 0 24px;
}



@mixin flex-box($direction: row) {
	display: flex;
	flex-direction: $direction;
  }
  
  @mixin flex-box-center($direction: row) {
	display: flex;
	flex-direction: $direction;
	justify-content: center;
	align-items: center;
  }
  
  body {
	margin: 0;
	background-color: $bg-color;
	@include flex-box(column);
	height: 100vh;
	font-family: "Quicksand", sans-serif;
  }
  
  header{
	  background-color: $nav-bg-color;
	color: #ffffff;
	height: 56px;
	padding: 0 24px;
	@include flex-box();
	align-items: center;
	background: url(./headerpatternimage.png) repeat;
	background-color: #25313f;
	background-blend-mode: overlay;
  //   .logo {
  //     height: 58px;
  //     position: absolute;
  //     width: 100%;
  //     left: 0;
  //     z-index: -10;
  //     background: url("../assets/header-pattern.svg") repeat;
  //     background-color: #25313f;
  //     background-blend-mode: overlay;
  // }
  .profile {
	  
	  border-radius: 50%;
	}
	.profile-badge {
	  position: absolute;
	  right: 2px;
	  top: 2px;
	  background: rgb(237, 237, 243);
	  text-align: center;
	  border: 1px solid #222222;
	  border-radius: 50%;
	  color: #222222;
	  padding: 2px 5px;
	  font-size: 10px;
	}
  nav {
	  font-size: 14px;
	  color: #3fd28b;
	  margin: 0 10px;
	  display: flex;
	  height: 45px;
	  align-items: center;
	  @media only screen and (max-width: 1048px) {
		display: none;
	  }
	}
  
	.nav-1 {
	  margin-left: auto;
	}
	.nav-active {
	  border-bottom: 3px solid #ffffff;
	  color: #ffffff;
	}
	@media screen and (max-width: 1048px) {
	  & :nth-child(7) {
		margin-left: auto;
	  }
	}
	*{
	  
	  margin-right: 5px;
	  margin-left: 5px;
	
	}
  }
  .icon{
	margin-right: 0px;
	position: relative;
	height: inherit;
	display: flex;
	align-items: center;
	&:hover {
	  .notify-badge {
		display: none;
	  }
	}
  }
  // notification icon
  
  .alerts {
	&:hover {
	  .container {
		display: block;
		visibility: visible;
		opacity: 1;
		animation: fade 300ms;
	  }
	}
  }
  .container{
	position: absolute;
	left: -270px;
	top: 47px;
	margin: 0px;
	padding: 0px;
	width: 300px;
	max-height: 500px;
	color: #6e6e6e;
	box-shadow: #0000003d 0px 13px 20px;
	font-size: 12px;
	background-color: #ffffff;
	display: none;
	opacity: 0;
	visibility: hidden;
	flex-direction: column;
  }
  .list {
	width: 100%;
	overflow-y: scroll;
	margin: 0px;
	height: 450px;
	&::-webkit-scrollbar {
	  width: 4px;
	}
	&::-webkit-scrollbar-thumb {
	  background: lightgrey;
	  border-radius: 10px;
	}
	* {
	  margin: 0px;
	}
  }
  .notify-badge {
	position: absolute;
	right: 0px;
	top: 2px;
	background: rgba(123, 135, 243, 0.911);
	text-align: center;
	border-radius: 50%;
	color: white;
	padding: 5px 8px;
	font-size: 8px;
  }
  .con-read {
	background-color: #ffffee;
  }
  
  .con-card {
	padding: 14px 14px;
	margin: 0px 0px;
	border-bottom: grey solid 1px;
	.con-title {
	  display: flex;
	  justify-content: space-between;
	}
	.con-msg {
	  font-size: 14px;
	  color: #222222;
	  font-weight: 600;
	}
	.con-name {
	  font-weight: 600;
	  color: #222222;
	}
	.con-card-footer {
	  display: flex;
	  align-items: center;
	  width: fit-content;
	}
	.con-time {
	  display: inline;
	  margin-left: auto;
	}
	p {
	  margin-top: 3px;
	  margin-bottom: 3px;
	}
	img {
	  margin: 0px;
	}
	span {
	  margin: 0px;
	}
  }
  
  .notify-btn{
	display: flex;
	box-shadow: 0px 1px 6px #0000003d;
	color: #1F7A54;
	border-radius: 0px 0px 2px 2px;
	bottom: 0px;
	margin-left: 0px;
	margin-top: auto;
	align-items: center;
	justify-content: center;
	padding: 15px 44px;
	width: 100%;
  }
  // notifiction end
  // announcement
  .announcement {
	&:hover {
	  .container {
		display: block;
		visibility: visible;
		opacity: 1;
		animation: fade 300ms;
	  }
	}
  }
  
  .con-btns {
	display: flex;
	box-shadow: 0px 1px 6px #0000003d;
	border-radius: 0px 0px 2px 2px;
	bottom: 0px;
	margin-left: 0px;
	margin-top: auto;
	align-items: center;
	justify-content: space-between;
	padding: 15px 44px;
	width: 100%;
	color: #1F7A54;
  }
  // hamburger menu
  
  
  .menu {
	// background-color: aqua;
	font-weight: 800;
	font-size: 14px;
	cursor: pointer;
	position: relative;
	height: inherit;
	display: none;
	align-items: center;
	justify-content: center;
	@media screen and (max-width: 1048px) {
	  display: flex;
	}
	&:hover {
	  .dropdown-menu {
		display: block;
		opacity: 1;
		visibility: visible;
		animation: fade 300ms;
	  }
	}
  }
  
  @keyframes fade {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  
  .dropdown-menu {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	transition: opacity 600ms, visibility 600ms;
	left: -210px;
	top: 47px;
	margin: 0px;
	padding: 0px;
	width: 240px;
	max-height: 500px;
	color: #6e6e6e;
	display: none;
	box-shadow: #0000003d 0px 13px 20px;
	font-size: 12px;
	background-color: #ffffff;
	flex-direction: column;
	* {
	  margin: 0px;
	}
  }
  
  .sub-heading {
	margin: 10px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	p {
	  margin: 0px;
	  color: #1F7A54;
	}
  }
  
  .nav-card {
	margin: 0px;
	padding: 5px 15px;
  }
  
  .sub-section {
	margin-left: 20px;
	display: none;
	div {
	  padding: 10px;
	  color: #1F7A54;
	}
  }
  // ha,burger menu end

.profile {
	height: 32px;
	width: 32px;
	border-radius: 50%;
	background-color: #25313f;
	display: block;
	border: 2px solid #3fd28b;
	img{
		height: 100%;
	}
}
.container1 {
	padding: 80px 24px 24px 24px;
}
.course {
	height: 64px;
	width: 100%;
	background-color: #8ddc97;
	border-radius: 2px;
	display: flex;
}
.courseCount,
.classCount {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}
.courseCount {
	border-bottom: 4px solid #222;
}

.count {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
}

.count-text {
	font-size: 16px;
	line-height: 20px;
}

.subject,
.grade,
.students,
.sort {
	color: #666;
	font-size: 12px;
	line-height: 16px;
}
.sort {
	margin-top: 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.sort-by {
	display: flex;
	align-items: center;
	gap: 6px;
}

.courses {
	display: grid;
	justify-content: center;
	grid-gap: 24px;
	grid-template-columns: repeat(auto-fit, 476px);
	margin: 17px 0 8px;
	border-top: 1px solid rgba(0, 0, 0, 0.12);
	padding-top: 16px;
}

.card {
	background-color: $white;
	border-radius: 2px;
	padding: 24px 24px 10px 24px;
	display: flex;
	gap: 16px;
	position: relative;
	flex-direction: column;
}

.card-header {
	display: flex;
	flex-direction: row;
	gap: 16px;
}

img {
	cursor: pointer;
}

#course-name {
	font-family: 'Quicksand';
	font-size: 16px;
	line-height: 20px;
	width: 160px;
	padding: 5px 0;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	background-color: $color;
	appearance: none;
	background-image: url(./icons/arrow-down.svg);
	background-repeat: no-repeat;
	background-position: right;
}

.course-info {
	display: flex;
	flex-direction: column;
	flex: 1;
    h2 {
        font-size: 16px;
        line-height: 20px;
        color: #000;
        margin-bottom: 7px;
        width: 250px;
        word-wrap: break-word;
    }
}

.title img {
	position: absolute;
	top: 22px;
	right: 24px;
}



.line {
	margin: 0 9px;
}

.green-text {
	font-size: 12px;
	line-height: 16px;
	color: #1f7a54;
}

.grade-info {
	margin-bottom: 7px;
}

.syllabus {
	color: #666;
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 16px;
}

.bold-text {
	font-weight: 700;
	color: #000;
	font-size: 12px;
	line-height: 16px;
}

.teacher {
    select {
	font-family: 'Quicksand';
	font-size: 16px;
	line-height: 20px;
	width: 100%;
	padding: 5px 0;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	margin-bottom: 8px;
	appearance: none;
	background-image: url(./icons/arrow-down.svg);
	background-repeat: no-repeat;
	background-position: right;
	background-color: transparent;
    }
}

.options {
	display: flex;
	gap: 102px;
	padding: 10px 24px;
	border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.expired {
	position: absolute;
	top: 0;
	left: 0;
	padding: 2px;
	font-size: 10px;
	line-height: 16px;
	color: #d80000;
	border-radius: 2px;
	background-color: $white;
}

.disabled {
	opacity: 40%;
}

.disabled-star {
	filter: brightness(0) invert(98%) sepia(58%) saturate(79%) hue-rotate(91deg)
		brightness(108%) contrast(87%);
}

.about {
	display: flex;
	justify-content: center;
	font-size: 14px;
	line-height: 18px;
	color: #1f7a54;
	gap: 8px;
	margin-bottom: 16px;
    a {
        color: #1f7a54;
        text-decoration: none;
        font-weight: 600;
    }
}


footer {
	width: 100%;
	height: 40px;
	text-align: center;
	background-color: #e0e1e1;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
}

.footer-text {
	font-size: 12px;
	line-height: 16px;
	color: #616161;
}

.zeus {
	font-size: 12px;
	font-weight: 700;
	margin: 0 8px;
}
